body {
    margin: 0;
    box-sizing: border-box;
    background-color: skyblue;
}

.text {
    font-size: 1.4rem;
    font-weight: 400;
}

.completed {
    color: green;
    font-style: italic;
}

#app {
    margin: 40px auto 40px auto;
}

.todos-wrapper {
    height: 500px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
}

.input {
    margin: auto;
    margin-top: 20px;
    width: 500px;
}